.table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.td{
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}
th{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
}
.score70, .total150{
    background-color: lightgreen;
    font-weight: bold;
}
.score50, .total100{
    background-color: lightpink;
    font-weight: bold;
}